# dependencies
/node_modules
**/node_modules
package-lock.json
yarn.lock
pnpm-lock.yaml

# environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# IDE
.idea/
.vscode/

# build output
/dist
/build
.next/
out/

# MongoDB
/data
mongodb-keyfile
*.msi
*.zip
/mongo-data
/db
*.mongosh

# misc
.DS_Store
coverage/
*.pem
.cache
*.bak
*.tmp
*.swp
*~

# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv